FunnyCalculator/FunnyCalculator/bin/
FunnyCalculator/.vs/FunnyCalculator/v16/
FunnyCalculator/FunnyCalculatorTest/bin/
FunnyCalculator/FunnyCalculatorTest/obj/FunnyCalculatorTest.csproj.nuget.dgspec.json
FunnyCalculator/FunnyCalculatorTest/obj/
FunnyCalculator/FunnyCalculator/obj/
